{% extends 'layout.twig' %}

{% block title %}Media Page{% endblock title %}

{% block body %}
    <!-- Main -->
    <div id="main">
        {% for account in accounts %}
            <article class="thumb">
                <a href="/projects?account={{ account.uuid }}" class="image"><img src="images/thumbs/{{ random(12) }}.jpg" alt="" /></a>
                <h2>{{ account.name }}</h2>
            </article>
        {% endfor %}
    </div>
{% endblock %}
