<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Quander Sample{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="/"><strong>Quander</strong> Brand Ambassador sample app</a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">Login</a></li>
            </ul>
        </nav>
    </header>

    {% block body %}
    {% endblock %}
    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Login</h2>
                    <form method="post" action="/login">
                        <div class="field half first">
                            <input type="text" name="username" id="name" placeholder="Username" />
                        </div>
                        <div class="field half">
                            <input type="password" name="password" id="email" placeholder="Password" />
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Login" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                </section>
                <p class="copyright">
                    &copy; Quander.io. Design: <a href="http://html5up.net">HTML5 UP</a>.
                </p>
            </div>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.poptrox.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>

</body>
</html>