{% extends 'layout.twig' %}

{% block title %}Media Page{% endblock title %}

{% block body %}
    <!-- Main -->
    <div id="main">
        {% for mediaElm in media %}
        <article class="thumb">
            <a href="{{ mediaElm.url }}" class="image {{ (mediaElm.type == 'image') ? 'popuplink' : '' }}"><img src="{{ mediaElm.posterurl }}" alt="" /></a>
        </article>
        {% endfor %}
    </div>
{% endblock %}
