{% extends 'layout.twig' %}

{% block title %}Project Page{% endblock title %}

{% block body %}
    <!-- Main -->
    <div id="main">
        {% for project in projects %}
            <article class="thumb">
                <a href="/media?project={{ project.uuid }}" class="image"><img src="images/thumbs/{{ random(12) }}.jpg" alt="" /></a>
                <h2>{{ project.name }}</h2>
            </article>
        {% endfor %}
    </div>
{% endblock %}
